/*
CSS von (c) Timo Scheuermann
*/

/*
	--> GENERAL <--
*/
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	color: #111;
}

h1 {
	font-weight: 800;
	font-size: 2.7vw;
	border-bottom: 0.1vw solid rgba(0, 0, 0, 0.3);
	text-align: center;
	line-height: 2,7vw;
	padding-top: 8.5vw;
	user-select: none;
}

h2 {
	font-weight: 600;
	font-size: 2.1vw;
	line-height: 2.1vw;
}

h2:first-child {
	border-bottom: .1vw solid rgba(0, 0, 0, 0.3);
	width: 70%;
	height: 2.2vw;
}

h3 {
	font-weight: 400;
	font-size: 1.6vw;
	line-height: 1.6vw;
	margin-bottom: -0.4vw;
}

i {
	color: rgba(0, 0, 0, 0.8);
}

p {
	font-weight: 400;
	font-size: 1.3vw;
	line-height: 1.7vw;
}

a {
	text-decoration: none;
}

::selection {
	background: rgba(0,0,0,.2);
	color: rgba(231, 76, 6, 1);
}

.eoc {
	height: 2vw;
}

/*
	--> NAVBAR <--
*/
.header {
	width: 100%;
	top: 0;
	height: 5.5vw;
	line-height: 5.5vw;
	position: fixed;
	/*background-color: rgba(45,45,45,0.9);*/
	/*background-color: rgba(30, 38, 44, 0.9);*/
	background-color: rgba(24, 27, 30, 0.85);
	padding-left: 10%;
	padding-right: 10%;
	z-index: 100;
}
.item {
	display: inline-block;
	color: #fff;
	font-size: 1.2vw;
	margin: 0 1.2vw 0 1.2vw;
	font-weight: 600;
	height: 3.5vw;
	cursor: pointer;
	user-select: none;
}
.item:first-child {
	font-size: 1.7vw;
	font-weight: 800;
	text-transform: uppercase;
	float: left;
	margin-right: 2.5vw;
}
.item:not(:first-child) {
	color: rgba(255, 255, 255, 0.8);
	padding: 0 .4vw 0 .4vw;
}
.item:not(:first-child):hover {
	animation: navHover 0.5s forwards;
}
@keyframes navHover {
	100% {
		color: #fff;
		border-bottom: 0.1vw solid rgb(255, 255, 255, 0.8);
	}
	0% {
		color: rgba(255, 255, 255, 0.8);
		border-bottom: 0 solid #fff;
	}
}

/*
	--> CONTENT AREA <--
*/
.content {
}

.anchor {
	position: absolute; 
	z-index: -5; 
	margin-top: -5.5vw; 
	height: 1px;
}

.paragraph {
	padding: 1vw 15% 1vw 15%;
	display: block;
	background-image: linear-gradient(#fff, #f9f9f9);
}

.list {
	display: block;
	font-size: 1.2vw;
	line-height: 1.5vw;
	padding-left: 2%;
	margin-bottom: .5vw;
}

.list2 {
	display: block;
	font-size: 1.2vw;
	line-height: 1.5vw;
	padding-left: 4%;
	margin-bottom: .5vw;
	margin-top: .1vw;
}

.group {
	display: block;
	margin-bottom: 3vw;
}

.groupmember {
	display: inline-block;
	width: 17%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #fff;
	text-align: center;
	font-size: 1vw;
	padding: 2vw;
	margin: calc(.45vw - 1px);
	user-select: none;
}

.optionButtons {
	display: block;
	margin-bottom: 3vw;
	user-select: none;
}

.button {
	display: inline-block;
	/*background-color: #e74c3c;*/
	background: linear-gradient(to bottom right, #e74c3c, #e73c49);
	font-weight: 600;
	font-size: 1.5vw;
	line-height: 3vw;
	height: 3vw;
	text-align: center;
	border-radius: .5vw;
	width: 40%;
	margin: 0 4.5%;
	cursor: pointer;
}
.button a {
	color: #fff;
}

@keyframes buttonAnimation {
	0% {
		filter: none;
		box-shadow: none;
	}
	100% {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		filter: brightness(115%);
	}
}

.button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	filter: brightness(115%);
	animation: buttonAnimation .2s forwards;
}

.imageTextContainer {
	width: 100%;
	display: inline-block;
	margin-bottom: 3vw;
}
.imageNextToText {
	width: 20vw;
	height: auto;
	display: inline-block;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	user-select: none;
}

.imageDescription {
	background: #fff;
	text-align: center;
	margin-top: -.3vw;
	font-size: 1vw;
	padding: 2vw;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	100 % {
		transform: scale(1.2);
	}
}
.imageNextToText:hover {
	animation: zoom 1s forwards;
	transform: scale(1.2);
}

.imageNextToText img {
	width: 20vw;
}

.textNextToImage {
	display: inline-block;
	width: calc(100% - 24vw);
	padding-top: 2vw;
	font-size: 1.3vw;
	
	.left {
		padding-right: 2vw;
	}
	.right {
		padding-left: 2 vw;
	}
	
}

.textNextToImage a {
	color: #e74c3c;
	text-decoration: none;
}

.textNextToImage a:hover {
	text-decoration: underline;
}

.left {
	float: left;
}
.right {
	float: right;
}

.footer {
	display: block;
	margin-top: 8vw;
	/*background: rgba(30, 38, 44, 0.9);*/
	background-color: #181b1e;
	padding: 3vw 20% 3vw 20%;
}
.footer .text {
	display: inline-block;
}
.footer .text h3 {
	color: #fff;
	font-weight: 600;
}
.footer .imagetext {
	color: #fff;
	font-weight: 600;
	font-size: 2vw;
	line-height: 100%;
	display: inline-block;
	position: absolute;
}
.footer .image a {
	margin-top: 2vw;
	margin-bottom: 2vw;
	display: inline-block;
	float: right;
	background: url('../img/github.png') no-repeat;
	background-size: 7vw 7vw;
	height: 7vw;
	width: 7vw;
	border-radius: 3.5vw;
}
.footer .image a:hover {
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.09);
}

ul {
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.2vw;
	line-height: 1.3vw;
}